@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body *
{
	font-family: 'Open Sans', sans-serif;
}
h1
{
	color:#3f90dc !important;
	margin-bottom:24px !important;
}
.jumbotron
{
	background-color: #e7f1fb;
}
#response
{
	color:#0f0;
	background-color: #333;
}